COOKIE_SECRET_CURRENT=cookie-secret-current
COOKIE_SECRET_PREVIOUS=cookie-secret-previous
DATABASE_URL="mongodb://root:prisma@localhost:27017/prisma-mongo?authSource=admin&retryWrites=true&w=majority"
FIREBASE_ADMIN_CREDENTIALS=firebase-admin-credentials-in-json
FIREBASE_BUCKET=bucket
MANGOPAY_CLIENT_ID=mangopay-client-id
MANGOPAY_API_KEY=mangopay-api-key
MANGOPAY_ENDPOINT=https://api.mangopay.com
BREVO_API_KEY=brevo-api-key
